@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* font-synthesis: none; */
}

a {
  font-weight: 500;
  color: #fbff92;
  text-decoration: inherit;
}
a:hover {
  color: #fbff92;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fbff92;
  }
  button {
    background-color: #f9f9f9;
  }
}

.font-rampart {
  font-family: "Rampart One", sans-serif !important;
}
